nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav span {
  font-family: 'Bungee', cursive;
  font-size: 2em;
  padding-top: 0.75em;
}

.nav-write-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
}

.nav-write-tweet p {
  margin: 0;
}

.nav-write-tweet i {
  font-size: 1em;
  margin-top: 0.2em;
  color: #ff0000;
}